.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.image-flip {
    margin-bottom:200px;
    width: 300px;
    height: 250px;
    padding-right: 20px;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.frontside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.backside {
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card, .card-img-top {
    border-radius: 0;
}

ul.tech-stack{
    list-style: none;
    padding: 0;
}

ul.tech-stack .tech-item{
    //float: left;
    font-size: 10px;
    margin: 0 3px 2px 3px;
    // border-right: 1px solid rgb(94, 125, 172);
}

// ul.tech-stack li.tech-item:last-child{
//     border-right: 0;
// }

.image-flip .card-header{
    margin: 0;
    text-transform: uppercase;
    padding: 3px 0 0 18px;
}

.image-flip .card-footer{
    padding: 8px 0 0 6px;
    margin: 0;
}

.image-flip .role{
    color: #007bff;
}

// .image-flip .frontside,
// .image-flip .backside{
//     min-height: 200px;
// }
