<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col">
        <img src="assets/jg-linkedin-pict.png" alt="Jeff Gibson">
      </div>
      <div class="col">
        <h1 class="about-jeff-gibson-title">Jeff Gibson</h1>
        <h5>Front-End Specialist</h5>
        <div class="tech-icons">
          <ul class="list-inline">
            <li class="list-inline-item">
              <img src="assets/webstack-tech/angularjs.png" class="img-fluid" alt="">
            </li>
            <li class="list-inline-item">
                <img src="assets/webstack-tech/html5.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/javascript.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/ajax.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/css3.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/jquery.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/csharp.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/sql.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/dotnet.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/php.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/mysql.png" class="img-fluid" alt="">
              </li>
              <li class="list-inline-item">
                <img src="assets/webstack-tech/json-stack.png" class="img-fluid" alt="">
              </li>
              
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="fluid-container">
  <div class="row">
    <div class="col">
        <p class="bio-text">Greetings, my name is <span class="jeff-gibson">Jeff Gibson</span>. I’m a web application expert with more than 
          20 years’ experience, full stack, both LAMP and .NET. I’ve worked on small teams and very large team, 
          worked remote, and had my own companies over the years. I have experience working with remote and offshore 
          team and have been managed direct reports and had lead positions in both back-end and front-end.</p>
        <p class="bio-text">For more details, please see my resume page or download it directly. 
          Please also visit my LinkedIn profile for more.</p>
        <p class="bio-text">So that covers the geek speak a bit, but I want to share a little more about me. 
          I grew up on a farm west of Duluth. When I wasn’t throwing hay bales or tilling, tilling the garden, 
          doing chores or mowing the lawn, I could be found at football or basketball practice or tutoring classmates.</p>
        <p class="bio-text">My parents bought our first family computer when I was 13 and that computer came with a 
          form of BASIC. As I taught myself I fell in love with programming instantly and knew what I wanted to do 
          for a living.</p>
        <p class="bio-text">After high school I earned my Bachelor of Science in Computer Science and started my 
          profession part time as I completed the last two years of my degree. I started in the multimedia and 
          e-learning space, and soon after into e-commerce and larger web application. Most of my career has been 
          full stack with an emphasis on front-end. These days I use modern technology such as CSS3 / media queries / transitions 
          to home-roll responsive front-end. I’ve used several grid systems and of course Bootstrap 3 and 4 and 
          in general, have focused much more on front-end (Angular, React, etc.).</p>
        <p class="bio-text">Spare time, where? With 4 children, 3 school age, spare time comes at night after I’ve 
          tucked in my little ones. I’m not much for channel flipping and am most often found in my home office after 
          the kids are in bed. This is my “me time” or R&D time. My wife teases me sometimes that my hobby looks 
          just like my career, but she’s right. At night I spend time digging deeper into tech I know or learning 
          something new, playing with new frameworks and/or building/inventing a “what if” concept or idea. 
          The point is, if I’m learning something new or deepening my knowledge, I feel satisfied. A nice side 
          effect of this is that over the years I’ve kept up with technology which keeps me highly marketable. </p>
        <p class="bio-text">Evening hours usually involve taking my twin girls to dance and taking my son to practice. 
          I also try to get to the local airports in the area to fly as often as I can. Usually I fly a Cessna 172 
          (4-seater, wings above the cabin) but occasionally I mix it up and fly a Piper (wings below the cabin). 
          If we’re talking peer bliss, I can think of nothing better than flying.</p>
        <p class="bio-text">So, there you have it, that’s me. I’m very outgoing, enthusiastic and passionate about 
          my life and my career. I have always enjoyed mentoring junior and mid-level developers and I currently 
          teach 2 night classes for people looking to break into the tech space, or advance to the next level.</p>
        <p class="bio-text">Please review my resume and let me know how I can deliver you quality results to your 
          team and your organization.</p>
        
    </div>
  </div>
</div>

<app-resume-modal></app-resume-modal>
