.jumbotron{
    background-color: #007bff;
    color: #FFF;
}

.about-jeff-gibson-title{
    text-decoration: underline;
}

// .tech-icons ul{
//     list-style: none;
// }
.tech-icons ul{
    padding-top: 30px;
}

.tech-icons .list-inline-item img{
    max-height: 60px;
}

.bio-text:last-child{
    margin-bottom: 50px;
}