<div class="container-fluid">
  <div class="jumbotron resume-jumbotron">

    <div class="row">
      <div class="col">
        <h1><span class="jeff-gibson">Jeff Gibson</span></h1>
      </div>
      <div class="col">
        <ul class="contact-info">
          <li><a href="mailto:jeffgibsoncareer@gmail.com">jeffgibsoncareer@gmail.com <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jeff-gibson-cc" target="_blank">www.linkedin.com/in/jeff-gibson-cc <i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>

  <div class="row">
    <div class="col">
      <h4 class="resume-heading heading-summary">
          <i class="fas fa-check-circle"></i>Summary
      </h4>
      <p class="summary-details">
          I am a highly motivated and talented front-end developer having a skillset of both width and breadth seeking to work with a team of other brilliant developers doing meaningful work to the highest standards. 
      </p>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <h4 class="resume-heading heading-education">
            <i class="fas fa-graduation-cap"></i>Education
        </h4>
        <p class="subheading">
          <span class="left-of-pipe">
              Bachelor of Science in Computer Science and Elective Studies
          </span>
          |
          <span class="right-of-pipe">
              St. Cloud State University
          </span>

        </p>
        <p class="summary-details">
            Teacher’s Assistant – Assisting in the CS lab, tutoring, grading code/projects.
        </p>
        <p class="summary-details">
            President of the Computer Science Club – Conducted regular meetings, organized outings, and mentored / onboarded new CS students.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 class="resume-heading heading-experience">
            <i class="fas fa-briefcase"></i>Experience
        </h4>
        <p class="subheading">
          <span class="left-of-pipe">
              Web Developer
          </span>
          |
          <span class="right-of-pipe">
              WebStack IT (MAY 2016 – PRESENT)
          </span>
        </p>
        <p class="summary-details">
            Develop various web-based solutions using HTML5/CSS3, JavaScript. Create custom jQuery plugins. 
            Built SPA applications using Angular 5, Angular 4, Angular 2, Angular 1.5, Angular 1.3, Knockout JS. 
            Create responsive UI both organically and using existing frameworks such as Bootstrap. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="subheading">
          <span class="left-of-pipe">
              Software Engineer
          </span>
          |
          <span class="right-of-pipe">
              Amano McGann (OCTOBER 2014 – MARCH 2016)
          </span>
        </p>
        <p class="summary-details">
            Generated responsive, mobile first UI with Twitter Bootstrap in and Agile environment. 
            Created new dashboard widgets for cloud application using AngularJS, jQuery, Knockout, 
            native JavaScript. Created cloud databases, cloud websites, and cloud services in Microsoft Azure. 
            Built custom jQuery plugins for customer-facing web application. Designed and implemented the 
            presentation layer of our C#/MVC applications.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="subheading">
          <span class="left-of-pipe">
              Web Application Developer
          </span>
          |
          <span class="right-of-pipe">
              Polaris (APRIL 2013 – AUGUST 2014)
          </span>
        </p>
        <p class="summary-details">
            Implemented drawer navigation system for IndianMotorcycles.com, VictoryMotorcycles.com, Slingshot.polaris.com, 
            and their off-road vehicle sites. Created CDN-driven high-resolution product viewer and custom jQuery plugin 
            for use by other developers on large e-commerce websites. Took a lead role in most front-end projects while 
            working closely with quality assurance. Participated in daily stand-ups, sprint planning, sizing, grooming 
            and retrospectives.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="subheading">
          <span class="left-of-pipe">
              Web Developer
          </span>
          |
          <span class="right-of-pipe">
              121 Marketing Solutions (SEPTEMBER 2009 – APRIL 2013)
          </span>
        </p>
        <p class="summary-details">
            Implement responsive, mobile friendly client-side design using HTML5, HTML Boilerplate, 
            Twitter Bootstrap, Modernizr, media queries, and custom frameworks and libraries. Built custom, 
            dynamic web applications and websites utilizing PHP, MySQL, JavaScript/jQuery, CSS/SASS/Compass, 
            and Zend Framework. Created custom interactive multimedia for large applications, clients include 
            United Airlines, Choice Hotels, Hilton, and more… Customized large e-commerce solutions.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="subheading">
          <span class="left-of-pipe">
              Web Developer / Business Analyst
          </span>
          |
          <span class="right-of-pipe">
              Cisco (AUGUST 2007 – OCTOBER 2009)
          </span>
        </p>
        <p class="summary-details">
            Created several user-facing UI components via HTML, JavaScript, CSS, and Flash / ActionScript. 
            Built rapid prototypes and proof concepts to accompany the requirements I gathered by 
            integrating with stakeholders, offshore resources, internal decision makers, and business 
            product owners. Ensured quality and accuracy for both onshore and offshore development teams.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 class="resume-heading heading-experience">
            <i class="fas fa-toolbox"></i>Skills
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="skills-left">
          <li>HTML 4/5</li>
          <li>CSS 2/3</li>
          <li>SASS/SCSS</li>
          <li>Responsive Design</li>
          <li>JavaScript, plain, ES5+</li>
          <li>Angular 1.x, 2, 4, 5, 6</li>
          <li>Typescript</li>
          <li>JSON</li>
          <li>C# .NET</li>
          <li>Azure</li>
          <li>Web API</li>
          <li>Source Control</li>
          <li>Visual Studio</li>
          <li>Adobe</li>
          <li>Agile</li>
          <li>Jira</li>
        </ul>
      </div>
      <div class="col">
        <ul class="skills-right">
          <li>Legacy and modern DOM</li>
          <li>Custom and Bootstrap 3, 4+</li>
          <li>Structured + variables, preprocessed</li>
          <li>Home-rolled or library-based</li>
          <li>jQuery, Knockout, AJAX</li>
          <li>SPA – single page applications</li>
          <li>Compiled (transpiled) to ES5</li>
          <li>Client-side model binding (MV*)</li>
          <li>MVC, Razor, Code-first database</li>
          <li>Cloud SQL, CDN</li>
          <li>Endpoints for asynchronous use</li>
          <li>TFS, Git, Bitbucket, SVN</li>
          <li>Solutions, projects, sprint items, TFS</li>
          <li>Photoshop and Illustrator, full suite</li>
          <li>Stand-ups and all other ceremonies</li>
          <li>Agile project management</li>
            
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <h4 class="resume-heading heading-activities">
            <i class="fas fa-battery-full"></i>Activities
        </h4>
        <p class="summary-details">
            I enjoy mentoring other developers by sharing experiences, I fly small 2 and 4 seat airplanes, 
            I take my son to football and my girls to dance. In the evenings I can be found in my home 
            office downloading a new framework or working on some “what-if” ideas I have. My evenings are often
             my R&D time, usually work-related but not always. If I’m learning something new, I’m happy. 
             <br><br>
        </p>
      </div>
    </div>

</div>

<app-resume-modal></app-resume-modal>
